numpy==1.17.2
scipy==1.3.1
scikit-learn==0.19.2
repositorytools
pandas==0.24.2
cqlengine==0.21.0
xgboost==0.90
category_encoders==1.3.0
catboost==0.18.1
boto3==1.13.22
ipywidgets==7.5.0
SortedSet==1.0
matplotlib
